@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');
:root {
--primary-bright-red:hsl(12, 88%, 59%);
--primary-dark-blue:hsl(228, 39%, 23%);
--neutral-dark-grayish-blue:hsl(227, 12%, 61%);
--neutral-dark-blue:hsl(233, 12%, 13%);
--neutral-pale-red:hsl(13, 100%, 96%);
--neutral-light-gray:hsl(0, 0%, 98%);
}


/*Estilos generales*/
html {
    box-sizing: border-box; /*si no pones esto se sobrepasa */
    font-size: 62.5%; /*cada rem son 10 píxeles */

}
*,*:before, *:after{
    box-sizing: inherit;
}

body {
    font-family: "Be Vietnam Pro", sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
/*tipografia*/
h1,h2,h3{
    color:var(--primary-dark-blue);
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1rem;
}
p {
    font-size: 1.5rem;
    color:var(--neutral-dark-grayish-blue);
    line-height:2.5rem;
}
/*botones*/
.btn{
    background-color: var(--primary-bright-red);
    color: var(--neutral-light-gray);
    padding: 1rem 3rem;
    border-radius: 30px;
    font-weight: 500;

}
.btn-nav {
    display:none;
}
.toggle{
    border: none;
    background:none;
}
/*header*/
.menu{
    display:none;
}
.nav-container {
display: flex; /*poner uno al ladodel otro */
justify-content: space-between;
width:95%;
margin: 40px auto ; /*con auto te lo deja centrado mirar */
max-width: 1100px;
}
/* main */
.main-container {
    width:90%;
    max-width: 1100px;
    margin: 0 auto;
}
.main-text {
    text-align:center;
    margin-bottom: 4rem;
}
.main-image{
    max-width: 350px;
    margin: 0 auto;
}
.main-text p{
    margin-bottom: 30px;
}
.main-image img {
    width: 100%;
}
/*about */
.about{
    margin-left:20px;
    margin-right: 20px;
}
.about-head{
    text-align:center;
    margin-bottom: 4rem;
    
}

 .about-list h3{
    background-color: var(--neutral-pale-red);
    padding:5px 3px;
   
}
.number {
    padding: 8px 15px;
    background-color: var(--primary-bright-red);
    color: var(--neutral-light-gray);
    border-radius: 40%; 
    margin-right: 15px;
}
/*testimonials*/

.testimonials{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 70px 0 50px;
}
.slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card {
    width:90%;
    border-radius: 5px;
    text-align:center;
    background-color: var(--neutral-light-gray);
    max-width: 500px;
    padding-top:60px;
    display:none;
}
.card.active-card{
    display:flex;
}
.dot{
    height: 10px;
    width:10px;
    border-radius: 50%;
    border:2px solid var(--primary-bright-red);
    display: inline-block;
    margin: 20px 0px 45px;
}
.active,
.dot:hover{
    background-color: var(--primary-bright-red);
}